Source: lgi
Section: x11
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: cdbs, debhelper (>= 10), libx11-dev, pkg-config, libcairo2-dev, libgtk-3-dev, libxcursor-dev, mesa-common-dev, libgl1-mesa-dev, cmake (>= 2.6.0), doxygen, libedupals-base-dev
Standards-Version: 4.1.2

 
Package: liblgi-1.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lgi core files
 LliureX Graphic Interface shared libraries

Package: liblgi-1.0-dev
Architecture: any
Depends: liblgi-1.0, libx11-dev, pkg-config, libcairo2-dev, libgtk-3-dev, libxcursor-dev, mesa-common-dev, libgl1-mesa-dev
Description: lgi development files
 LliureX Graphic Interface development files
 
Package: liblgi-1.0-doc
Architecture: all
Description: lgi developer documentation
 Lgi doxygen api reference

