#!/usr/bin/make -f 

LLXPATH=$(CURDIR)/obj-$(DEB_BUILD_GNU_TYPE)

%:
	dh $@



override_dh_install:

ifeq ($(DEB_BUILD_ARCH),amd64)
	@echo "Using amd64 setup" 
	mkdir -p pc/usr/lib/x86_64-linux-gnu/pkgconfig
	cp lgi-1.0-amd64.pc pc/usr/lib/x86_64-linux-gnu/pkgconfig/lgi-1.0.pc	
	
	mkdir -p install/usr/lib/x86_64-linux-gnu
	cp $(LLXPATH)/src/liblgi-1.0.so install/usr/lib/x86_64-linux-gnu
	
endif

ifeq ($(DEB_BUILD_ARCH),i386)
	@echo "Using i386 setup" 
	mkdir -p pc/usr/lib/i386-linux-gnu/pkgconfig
	cp lgi-1.0-i386.pc pc/usr/lib/i386-linux-gnu/pkgconfig/lgi-1.0.pc	
	
	mkdir -p install/usr/lib/i386-linux-gnu
	cp $(LLXPATH)/src/liblgi-1.0.so install/usr/lib/i386-linux-gnu

endif

	doxygen

	dh_install
